body {
    margin: 0px;
    padding: 0px;
}
.testdiv {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: thin black solid;
    transform-origin: 0% 0%;
}
#canvas {
    border: thin black solid;
}